<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    시작 페이지: <input type="text" id="page">
    끝 페이지: <input type="text" id="limit">
    <button type="button" onclick="del()">삭제</button>
    <script>
        async function del() {
            const page = document.getElementById('page').value;
            const limit = document.getElementById('limit').value;

            try {
                const response = await fetch('/api/delete', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        page, limit
                    })
                });
                console.log(await response.json());
            } catch (error) {
                
            }
            
        }
    </script>
</body>
</html>