
<% if(mode === 'filename') { %>
    <p> galleryId (필수): 
        <input type="text" id="galleryId" value="illit">
    </p>

    <p> 시작 페이지: 
        <input type="number" id="start-page" step="1" value="1">
    </p>
<% } %>