<h2>UID에 해당하는 게시물 (식별코드가 있는 경우)</h2>
<div id="post-count">게시물 개수: 0</div>
<table>
    <thead>
        <tr>
            <th>게시물 번호</th>
            <th>제목</th>
            <th>날짜</th>
        </tr>
    </thead>
    <tbody id="posts">
    </tbody>
</table>










