<p> 모드:
    <select id="mode">
        <option value="identity" 
            <%= (mode === 'identity') ? 'selected' : '' %>
        >
            식별코드 수집
        </option>
        <option value="filename" 
            <%= (mode === 'filename') ? 'selected' : '' %>
        >
            게시글 파일명 확인
        </option>
        <option value="delete-post" 
            <%= (mode === 'delete-post') ? 'selected' : '' %>
        >   
            갤로그 클리너
        </option>
    </select>
</p>

<p> 갤러리 종류: 
    <select id="gallery">
        <option value="mgallery/">마이너 갤러리</option>
        <option value="">갤러리</option>
    </select>
</p>





